/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #252d28;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #54b883;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* About Section */
#about p {
    font-size: 16px;
    line-height: 1.6;
}

/* Projects Section */
.project-card {
    background-color: #54b883;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(44, 43, 43, 0.1);
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.project-card p {
    font-size: 14px;
}

/* Contact Section */

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #54b883;
    color: #fff;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .project-card {
        flex-direction: column;
    }
}